<section id="contact">

  <div class="wrap container">
    <h2>Let's Chat</h2>

    <form action="https://formspree.io/info@steffenp.dk" method="POST" class="contact-form">

      <div class="input-group">
        <input type="text" name="name">
        <label>Your Name</label>
      </div>

      <div class="input-group">
        <input type="email" name="email">
        <label>Your Email</label>
      </div>

      <div class="input-group">
        <textarea name="message"></textarea>
        <label>Your Message</label>
      </div>

      <button class="btn btn-yellow">Send</button>

    </form>

  </div>

</section>
