<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.data.settings.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <link rel="shortcut icon" href="assets/img/favicon.ico">
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

<div id="preloader">
  <div class="spinner">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

{{ content }}

<script src="assets/css/0-bower/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>
